<div class="fields">
  <p class="col-md-6">
    Content <%= f.text_field :content, class: "form-control" %>
    Correct? <%= f.check_box :correct %>
    <%= link_to_remove_fields "Remove", f %>
  </p>
</div>